<h2>Angular Resository Listing</h2>
<form>
  <input type="search" name="query" [(ngModel)]="query" (keyup.enter)="search()">
  <button type="button" (click)="search()">Search</button>
</form>
<table *ngIf="searchResults">
  <thead>
    <tr>
      <th>Repository Name</th>
      <th>clone URL</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of searchResults; let i=index">
      <td><a [routerLink]="['/edit', person.clone_url]">{{person.name}}</a></td>
      <td>{{person.clone_url}}</td>
      <td>{{person.id}}</td>
    </tr>
  </tbody>
</table>
